


@font-face {
    font-family:'Tajawal';
    src: url('../fonts/Tajawal-Regular.ttf') format("truetype"),
    local('Tajawal');
    }

html, body{
    direction: rtl;
    text-align: right;
}

body{
    font-family: 'Tajawal', 'sans-serf';
}
.dropdown-menu .dropdown-item{
    text-align: right;
}

h1{
    color: cyan;
}


    